<div style=" display: flex; align-items: stretch;">    
  <div class="col-lg-1" style="background-color: #B8860B; min-height: 100vh;" >
  </div>
  
  <div class="col-lg-10">
    <h2 class="text-center"><%= @group.group_name %></h2>
    <h4 class="text-center">承認待ち一覧</h4>
  
  
      <div class=" mx-auto">
      <% if @permits.present? %>
        <div class="table-responsive">
          <table class="table table-hover text-nowrap bg-light">
            <thead class="thead-dark">
              <tr>
                <th>名前</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @permits.each do |permit| %>
                <tr>
                  <td><%= link_to permit.user.name, user_path(permit.user.id), class: "text-dark" %></td>
                  <td class="text-right">
                    <%= link_to '加入許可', group_group_memberships_path(@group, permit_id: permit.id), method: :post, class: "btn btn-sm btn-success" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <P class="text-center">承認待ちユーザーはいません。</P>
      <% end %>
      </div>
      <div class="mx-auto mt-5"><%= paginate @permits %></div>
    
      <div class="mx-auto">
      <p class="text-center"><%= link_to "戻る", group_path(@group), class: 'text-dark font-weight-bold' %></p>
      </div>
  
  
  </div>
  
  <div class="col-lg-1" style="background-color: #B8860B; min-height: 100vh;" >
  </div>
</div>