<%#グループ詳細部%>
<div style = "height: 30%; background-color: #B8860B; ">  
     <div style = "display:flex; margin:30px;"> 
     
        <div style = "margin-right:80px; ">
          <div style = "background-color: white; padding:10px; margin-bottom:10px; ">    
           <div style = "display:flex;">
             <div style = "margin-right:10px;">
               <%= link_to user_show_by_name_path(@owner_name) do %>
                 <%= image_tag @group.get_image, size:"100x100" %>
               <% end %>
             </div>             
             <div>
                 <h5>グループ名</h5>
                 <h3 style = "margin-bottom:20px;">
                   <%= @group.group_name.truncate(30) %>
                 </h3>
             </div>
           </div>
          </div>
          <div style = "display:flex; justify-content: space-between;">
              <div> 
               <div><h6>【グループ作成者】</h6></div> 
               <div><h4><%= @owner_name %></h4></div>
              </div>
              <div>
               <div style = "margin:20px; padding-right:50px;">
                  <% if @group.users.include?(current_user) %>
                    <%= link_to 'グループ退会', group_path(@group), method: :delete, class: "btn btn btn-danger" %>
                  <% else %>
                    <%= link_to 'グループ参加', group_join_path(@group), class: "btn btn btn-success" %>
                  <% end %>
               </div>
              </div>
          </div>
           
        </div>
        
        <div>
          <div style = "word-wrap: break-word; word-break: break-all;">
            <h5><b>【グループ説明】</b></h5>
            <h5><%= @group.group_introduction.truncate(400) %></h5>
          </div>
        </div> 
    
     </div>
</div>

<%#グループユーザー一覧部%>
<div style="height: 70%; margin:20px">
    <div>
      <h2>グループユーザー一覧</h2>
 
    <table class="table table-hover table-inverse" style = "width: 100%;">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>ユーザー名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
              <tr style="height: auto;">
                <td style="word-break: break-all;"><%= image_tag user.get_profile_image(100,100) %></td>
                <td style="word-break: break-all;"><%= user.name.truncate(50) %></td>
                <td><%= link_to "詳細を見る", user_show_by_name_path(user.name), class: "btn btn-success" %></td>
              </tr>
            <% end %>
        </tbody>
    </div>     
</div>