
<div style="display: flex; height: 100%; background-color: #B8860B; padding: 20px;">
  
   <div style="flex: 1;">
     <h2>投稿フォーム</h2>
   </div>
   
   <div style="flex: 3; display: flex;">
      <%= form_with model: @post do |f| %>
      
        <div style="flex: 1; padding-bottom: 30px;">
          <h3>城名</h3>
          <%= f.text_field :castle_name, maxlength: 20  %>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <h3>画像</h3>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <h3>投稿本文</h3>
          <%= f.text_area :body, maxlength: 500, class: 'form-control', cols: 50, rows: 5, placeholder: "※400字以内"  %>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <h3>タグ</h3>
          <%= f.text_area :tag_name, maxlength: 200 , class: 'form-control', placeholder: "タグ付けをしてみよう(例: #姫路城)" %>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <%= f.submit '投稿', class: "btn btn-success" %>
        </div>
        
      <% end %>
      
    </div>

</div>