<%# 投稿部分 %>       
<div style = "background-color: #B8860B; padding: 20px;">  
  
     <div style = "display:flex; margin:30px;"> 
     
        <div style = "margin-right:80px;">
          <%= image_tag @user.get_profile_image(200,200) %>
          <h3><%= @post.user.name %></h3>
        </div>
        <div>
          <%= link_to post_path(@post.id) do %>
            <%= image_tag @post.get_image, size: "400x400" %>
          <% end %>
        </div>
        <div style = "margin:30px;" >
          <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-success" , data: { confirm: '本当に削除しますか？' } %>
          <% end %>
        </div> 
        <div>   
          <div style = "margin-bottom:30px; max-width: 200px;">  
            <h3>城名：<%= @post.castle_name %></h3>
          </div>
          
          <div style = "word-wrap: break-word; word-break: break-all;">
            <h5><%= @post.body %></h5>
          </div>
        </div> 
    
     </div>
     
<%# コメント部分 %>
    <div style = "padding:20px;">
       <div>
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
       </div>
      
       <div style = "word-wrap: break-word; word-break: break-all;">
        <p>コメント件数：<%= @post.comments.count %></p>
          
        <% @post.comments.each do |comment| %>
          <p>@<%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
          <%= comment.comment %></p>
          <% if comment.user == current_user %>
            <%= link_to "↑削除", post_comment_path(comment.post, comment), method: :delete %>
          <% end %>
        <% end %>
       </div>
    </div>
        <%#<p><%= link_to "#{@post.comments.count} コメント", post_path(@post.id) %></p>
      
</div>
  