<div style="display: flex; background-color: #B8860B; padding: 30px; min-height: 100vh;">

     <div style="flex: 1;">
       <h2>管理者ログイン</h2>
     </div>
     
     <div style="flex: 3; display: flex;">
      
        <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
        
        <div style="flex: 1; padding-bottom: 20px;">  
          <div class="field">
            <h3>email</h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 20px;">  
          <div class="field">
            <h4>パスワード</h4>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 20px;">  
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        
        <div style="flex: 1;">
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-success"  %>
          </div>
        </div>
        
         <%= render "admin/shared/links" %>
          
        <% end %>
      
     </div>  
     
  </div>