<div style=" display: flex; height:100%;">

    <div class="col-lg-1" style="background-color: #B8860B;" >
    </div>  
    
    <div class="col-lg-10">   
       
        <h2>検索結果</h2>
        
        <table class="table table-hover table-inverse">
        
        
          <% if @range == "ユーザー" %>
          
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= link_to "詳細を見る", user_path(user),  class: "btn btn-success" %></td>
                </tr>
              <% end %>
            </tbody>
            
          <% else %>
        
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= post.user.name %></td>
                  <td><%= post.castle_name %></td>
                  <td><%= post.body %></td>
                  <td><%= link_to "詳細を見る", post_path(post),  class: "btn btn-success" %></td>
                </tr>
              <% end %>
            </tbody>
            
          <% end %>
          
          
        </table>
        
    </div>
    
    <div class="col-lg-1" style="background-color: #B8860B;" >
    </div>  

</div>