<div>
  
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  
</div>


<% @posts.each do |posts| %>

  <div>
    
    <%= link_to post_path(posts.id) do %>
      <%= image_tag posts.get_image %>
    <% end %>
    <p>城名：<%= posts.castle_name %></p>
    <p>本文：<%= posts.body %></p>
    
  </div>

<% end %>