<div>
  <h3><%= @user.name %></h3>
</div>


<% @posts.each do |post| %>

  <div>
    <%= link_to post_path(posts.id) do %>
      <%= image_tag post_image.get_image %>
    <% end %>
    <p>ショップ名：<%= post_image.shop_name %></p>
    <p>説明：<%= post_image.caption %></p>
    <p>ユーザーネーム：<%= post_image.user.name %></p>
  </div>

<% end %>