<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin: 0; height: 100%; ">
    <div style="display: flex; justify-content: space-between; height: 30%;">
        <div style="background-image:url(<%= asset_path '二条城_1.jpeg' %>); background-size: cover; background-position: top; height: 100%; width: 20%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 2px black;">
            二条城
        </div>
        <div style="background-image: url(<%= asset_path '名古屋城_正面1.jpeg' %>); background-size: cover; background-position: top; height: 100%; width: 20%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 2px black;">
            名古屋城
        </div>
        <div style="background-image: url(<%= asset_path '姫路城_正面1.jpeg' %>); background-size: cover; background-position: top; height: 100%; width: 20%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 2px black;">
            姫路城
        </div>
        <div style="background-image: url(<%= asset_path '大阪城_1.jpeg' %>); background-size: cover; background-position: top; height: 100%; width: 20%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 2px black;">
            大阪城
        </div>
        <div style="background-image: url(<%= asset_path '首里城.jpeg' %>); background-size: cover; background-position: top; height: 100%; width: 20%; display: flex; justify-content: center; align-items: center; color: white; text-shadow: 1px 1px 2px black;">
            首里城
        </div>
    </div>
    
    <div style="height: 70%; display: flex; flex-direction: column;">
        <div style="display: flex; flex: 1;">
            <div style="background-color: orange; width: 10%; display: flex; ">
                
            </div>
            <div style="background-color: green; width: 80%; display: flex; ">
                
            </div>
            <div style="background-color: orange; width: 10%; display: flex; ">
                
            </div>
        </div>
    </div>
</body>
</html>