
<div style="display: flex; justify-content: space-between;">

  <div style="background-image: url(<%= asset_path '二条城_1.jpeg' %>); background-size: cover; background-position: top; height: 350px; width: 20%; display: flex; justify-content: center; align-items: center;">
    <div style="color: white; text-shadow: 1px 1px 2px black;">
      gasr
    </div>
  </div>
  
  <div style="background-image: url(<%= asset_path '名古屋城_正面1.jpeg' %>); background-size: cover; background-position: top; height: 350px; width: 20%; display: flex; justify-content: center; align-items: center;">
    <div style="color: white; text-shadow: 1px 1px 2px black;">
      gasr
    </div>
  </div>
  
  <div style="background-image: url(<%= asset_path '姫路城_正面1.jpeg' %>); background-size: cover; background-position: top; height: 350px; width: 20%; display: flex; justify-content: center; align-items: center;">
    <div style="color: white; text-shadow: 1px 1px 2px black;">
      gasr
    </div>
  </div>

  <div style="background-image: url(<%= asset_path '大阪城_1.jpeg' %>); background-size: cover; background-position: top; height: 350px; width: 20%; display: flex; justify-content: center; align-items: center;">
    <div style="color: white; text-shadow: 1px 1px 2px black;">
      gasr
    </div>
  </div>
  
  <div style="background-image: url(<%= asset_path '首里城.jpeg' %>); background-size: cover; background-position: top; height: 350px; width: 20%; display: flex; justify-content: center; align-items: center;">
    <div style="color: white; text-shadow: 1px 1px 2px black;">
      gasr
    </div>
  </div>
  
</div>