<div style="display: flex; height: 100%; background-color: #B8860B; padding: 30px;">
  
  
     <div style="flex: 1;">
       <h2>パスワードをお忘れですか？</h2>
     </div>
     
     <div style="flex: 3; display: flex;">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
        <div style="flex: 1; padding-bottom: 30px;"> 
          <div class="field">
            <h3>email</h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;"> 
          <div class="actions">
            <%#Send me reset password instructions%>
            <%= f.submit "パスワード再設定の案内を送信する", class: "btn btn-success"%>
          </div>
        </div>
        

        <div class="field">
          <%= render "devise/shared/links" %>
        </div>
         
        <% end %>

        
     </div>   

</div>
