    
  <div style="display: flex; height: 100%; background-color: #B8860B; padding: 30px;">
    
    <div style="flex: 1; ">
      <h2>新規登録</h2>
    </div>
    
    <div style="flex: 3; display: flex;">
      <%= form_with model: @user, url: user_registration_path do |f| %>
        
          <%= render "devise/shared/error_messages", resource: resource %>
        
        <div style="flex: 1; padding-bottom: 10px;">  
          <div class="field">
            <h3>お名前</h3>
            <%= f.text_field :name %>
          </div>
        </div>
         
        <div style="flex: 1; padding-bottom: 10px;"> 
          <div class="field">
            <h3>email</h3>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 10px;">
          <div class="field">
            <h4>パスワード</h4>
            <% if @minimum_password_length %>
            <em>(最低<%= @minimum_password_length %> 文字で入力してください。)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <div class="field">
            <h4>パスワード(確認用)</h4>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </div>

         <%= render "devise/shared/links" %>

      <% end %>
    </div>


  </div>