<div style=" display: flex; align-items: stretch;">   
    <div class="col-lg-1" style="background-color: #B8860B; min-height: 100vh;" >
    </div>    
    
    <div class="col-lg-10" style = "margin:10px;">
        <h3>全グループ一覧</h3>
        <table class="table table-hover table-inverse">
            
            <tbody>
              
              <thead class="thead-dark">
                <tr>
                  <th>グループ名</th>
                  <th>グループ管理者</th>
                  <th>紹介文</th>
                  <th>グループ人数</th>
                  <th></th>
                </tr>
              </thead>
              
              <% @groups.each do |group| %>
                  <tr style="height: auto;">
                    <td><%= link_to group.group_name, group_path(group) %></td>
                    <td><%= link_to group.owner.name, user_show_by_name_path(group.owner.name) %></td>
                    <td><%= group.group_introduction.truncate(80) %></td>
                    <td><%= group.users.count %></td>
                    <td><%= link_to '削除', admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn btn-success" %> </td>
                  </tr>
              <% end %> 
            </tbody>
            
        </table>
        <%= paginate @groups, theme: 'bootstrap-5' %>
    </div>
    
    <div class="col-lg-1" style="background-color: #B8860B; min-height: 100vh;" >
    </div>  
</div>