<div style="display: flex; height: 100%; background-color: #B8860B; padding: 30px;">

     <div style="flex: 1;">
       <h2>ログイン</h2>
     </div>
     
     <div style="flex: 3; display: flex;">
      
        <%= form_with model: @user, url: user_session_path do |f| %>
        
        <div style="flex: 1; padding-bottom: 10px;">  
          <div class="field">
            <h4>email</h4>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 10px;">  
          <div class="field">
            <h4>パスワード</h4>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        
        <div style="flex: 1; padding-bottom: 10px;">  
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        
        <div style="flex: 1; padding-bottom: 30px;">
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-success"  %>
          </div>
        </div>
        
         <%= render "devise/shared/links" %>
          
        <% end %>
      
     </div>  
     
  </div>