<body style="margin: 0; height: 100%;  ">

  <div style="height: 30%; width:100%; display: flex; background-color:#B8860B; ">
  
    <div style="height: 20%; padding:20px; ">
      <%= image_tag @user.get_profile_image(200,200) %>
    </div>
    
    <div style="padding:20px;">
      <b style="font-size:30px;">
        
        <%= @name %>
        
        <p>
          <% if @user == current_user %>
            <%= link_to "プロフィール編集", edit_user_by_name_path(current_user.name), class: "btn btn-success" %>
          <% end %>
        </p>
        
      </b>
    </div>
    <div style = "padding:20px; margin-left: auto;">
      <% if @user == current_user %>

      <% end %>
    </div>
      
  </div>
    
    
  
  <div style="height: 70%; display: flex; padding-top: 30px; margin-bottom: 30px; ">

    <div class="col-lg-2" >
    </div>   
    
    <div class="col-lg-8">
      <div style="display: flex; flex-wrap: wrap; ">
        <% @posts.each do |posts| %>
          <div style="width: 30%; padding-bottom: 30%; position: relative; margin: 0.1%; overflow: hidden;">
            
            <%= link_to post_path(posts.id), style: 'display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;' do %>
              <%= image_tag posts.get_image, style: 'width: 100%; height: 100%; object-fit: cover;' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div style="margin-top:20px;">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
    
    <div class="col-lg-2" >
    </div>
  
  </div>
  
</body>
